<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The FINRA FRAUD CHALLENGE</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
   <link href="../static/css/heroic-features.css" rel="stylesheet">
   <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
   <script type="text/javascript" src="http://mpld3.github.io/js/mpld3.v0.1.js"></script>
</head>
<body>
    <!-- Page Content -->
    <div class="container">
      <!-- Jumbotron Header -->
      <header class="jumbotron my-4">
	    <h1>FINRA Technology</h1>
        <h1 class="display-3">YHacks-2017</h1>
      </header>

    <!-- Page Content -->
    <div class="container">
	<style>
	body {background-color: lightblue;}
	</style>
      <!-- Jumbotron Header -->
      <header class="jumbotron my-4">

        <h1 class="display-3">Be a hero...use technology to help FINRA catch the bad guys.</h1>

      </header>

	  <!-- Jumbotron Header -->
      <header class="jumbotron my-4">

        <div>{{ badGuys }} </div>
        <div id="fig01">
          <img src="./static/graph.png" alt="Image Placeholder"></div>
      </header>
</body>
</html>
